header{
	background-color: black;
	width: 100%;
	height: 100px;
}

.heading{
	font-size: 50px;
	color: white;
	height: 90px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin: 25px;
}

.main{
	background-color: red;
	height: 500px;
	background-image: url("https://si.wsj.net/public/resources/images/BN-XP616_3pjLu_OR_20180223170153.jpg?width=620&height=413");
	background-size: cover;
}

.textview1,.textview2,.textview3{
	padding-top: 40px;
	padding-left: 50px;
	margin: 0px 50px 50px 50px;
	height: 30px;
	text-align: center;
	opacity: 1;
	font-size: 15px;
	color: grey;
}

.conv{
	font-size: 30px;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 10px 10px 10px 10px;
}

.conv:hover{
	background-color: black;
	color: white;
}

.forme p{
	font-size: 40px;
	padding: 10px 20px 10px 40px;
	color: white;
	opacity: 1;
	color: white;
	font-weight: bold;
}

.forme li{
	float: left;
	list-style: none;
}

body{
	background-color: grey;
}

.resl{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	opacity: 1;
	color: black;
	padding: 80px 10px 10px 10px;
	margin: 0px 10px 10px 10px;
}

.tpage button{
	font-size: 30px;
	padding: 10px 10px;
	margin: 10px 10px 10px 40px;
	opacity: 1;
	cursor: pointer;
	border-radius: 10px
}

.tpage button:hover{
	background-color: black;
	color: white;
}

.tpage p{
	font-size: 40px;
	padding: 10px 20px 0px 40px;
	color: white;
	opacity: 1;
	font-weight: bold;
}

.container1{
	height: 300px;
}

.container2 p{
	font-size: 35px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	color: #ec3408;
	opacity: 1;
}

.detailing{
	background-color: #AFEEEE;
	height: 500px;
}

.f1 h2{
	font-size: 30px;
	padding-top: 30px;
	padding-left: 30px;
	margin: 0px 10px 0px 20px;
	font-weight: bold;
}

.t1{
	font-size: 20px;
	text-align: center;
	font-weight: normal;
}

.t2{
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}
.t3{
	font-size: 30px;
	padding-top: 20px;
	padding-left: 30px;
	margin: 0px 10px 10px 20px;
	font-weight: bold;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0px 10px 10px 50px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}