<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CurrEx</title>
	<link rel="stylesheet" type="text/css" href="/static/curr.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	  <script src="https://code.highcharts.com/highcharts.js"></script>
	  <script src="https://code.highcharts.com/modules/exporting.js"></script>
	  <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>
<body>
	<header >
		<h1 class="heading">CurrEx</h1>
	</header>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div class="main">
		<h1 class="resl">{{current}} {{fromm}} is {{result}} {{toc}}</h1>
		<br>
		<div class="tpage">
			<br>
			<br>
			<p>Convert Again</p>
			<button onclick="goBack()">Go Back</button>

 			   <script>
					function goBack() {
  						window.history.back();
					}
				</script>
		</div>
	</div>
	<footer class = "detailing">
		<div class="container2">
			<p>"This website is designed to convert the value from one currency into another around the globe. Along with the currency value,it shows the highchart of that currency."</p>
		</div>
		<div class="f1">
			<h2><u>About us</u></h2>
			<p class="t1">TEAM - BULLFOLKS</p>
			<p class="t2">"As a creative, your ideas are your strongest form of currency."</p>
		</div>
		<div clas="f2">
			<h2 class="t3"><u>Connect with us</u></h2>
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
		</div>
	</footer>


</body>
<script src="highchart.js"></script>
</html>
