
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CurrEx</title>
	<link rel="stylesheet" type="text/css" href="/static/curr.css">
</head>
<body>
	<header>
		<h1 class="heading">CurrEx</h1>
	</header>
	<div class="main">
		
		<form class="forme" action="http://localhost:2000/convert" method="POST">
			<ul>
				<li>
					<p>Amount:</p>
					<input type="text" class="textview1" name="amount" placeholder="amount">
				</li>
				<li>
					<p>Currency From:</p>
					<input type="text" class="textview2" name="fromm" placeholder="from">
				</li>
				<li>
					<p>Currency To:</p>
					<input type="text" class="textview3" name="toc" placeholder="to">
				</li>
				<li>
					<p>Press It</p>
					<p><input type = "submit" value = "submit" /></p>
				</li>
			</ul>	
		</form>


	</div>
	<footer class = "detailing">
		
	</footer>


</body>
<script type="text/javascript">
	
</script>
</html>