
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CurrEx</title>
	<link rel="stylesheet" type="text/css" href="/static/curr.css">
</head>
<body>
	<header >
		<h1 class="heading">CurrEx</h1>
	</header>
	<div class="main">
		<h1 class="resl">{{current}} {{fromm}} is {{result}} {{toc}}</h1>
		<br>
		<div class="tpage">
			<br>
			<br>
			<p>Convert Again</p>
			<button onclick="goBack()">Go Back</button>

 			   <script>
					function goBack() {
  						window.history.back();
					}
				</script>
		</div>
	</div>
	<footer class = "detailing">
		
	</footer>


</body>
<script type="text/javascript">
	
</script>
</html>